.header {
  background: var(--section-bg);
  height: 64px;
  padding: 5px 30px 5px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 24px -2px rgb(0 0 0 / 5%);
  z-index: 2;
}

.title {
  display: flex;
  align-items: center;
  color: #8873bb;
  font-weight: 600;
  font-size: 24px;
  & > img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 20px;
  }
}

.nav {
  margin-left: auto;
  display: flex;
}
.navItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 4px 2px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 14px;
  transition: color ease 0.2s;
  &:hover {
    color: var(--highlight-text);
    &::after {
      transform: scale(1);
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--highlight-text);
    transform: scale(0);
    transition: transform ease 0.2s;
  }
  & > svg {
    color: var(--highlight-text);
    margin-left: 2px;
  }
  & + .navItem {
    margin-left: 24px;
  }
}