.sider {
  width: 200px !important;
  background: transparent !important;
  position: fixed !important;
  top: 64px;
  left: 0;
  & :global .ant-layout-sider-trigger {
    background: transparent;
  }

  & :global .ant-layout-sider-trigger {
    color: var(--normal-text) !important;
  }
  & :global .ant-menu {
    border-right-color: transparent !important;
    background: transparent !important;
    color: var(--normal-text) !important;
  }

  & :global .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
  & :global .ant-menu-item::after,
  & :global .ant-menu-item:active,
  & :global .ant-menu-submenu-title:active {
    background-color: var(--highlight-bg) !important;
  }
  & :global .ant-menu-vertical .ant-menu-item::after,
  & :global .ant-menu-vertical-left .ant-menu-item::after,
  & :global .ant-menu-vertical-right .ant-menu-item::after,
  & :global .ant-menu-inline .ant-menu-item::after {
    border-color: var(--highlight-text) !important;
  }
  & :global .ant-menu-item-selected,
  & :global .ant-menu-submenu-selected,
  & :global .ant-menu-item:hover, 
  & :global .ant-menu-item-active,
  & :global .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  & :global .ant-menu-submenu-active,
  & :global .ant-menu-submenu-title:hover,
  & :global .ant-menu-submenu-arrow::before, 
  & :global .ant-menu-submenu-arrow::after,
  & :global .ant-menu-submenu-title:hover {
    color: var(--highlight-text) !important;
  }
  & :global .ant-layout-sider-trigger {
    color: var(--highlight-text) !important;
  }

  & :global .ant-menu-item, 
  & :global .ant-menu-submenu-title {
    transition: all 0.2s ease-out;
  }

}
.submenu {
  & :global .ant-menu-item-selected,
  & :global .ant-menu-submenu-selected,
  & :global .ant-menu-item:hover, 
  & :global .ant-menu-item-active,
  & :global .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  & :global .ant-menu-submenu-active,
  & :global .ant-menu-submenu-title:hover,
  & :global .ant-menu-submenu-arrow::before, 
  & :global .ant-menu-submenu-arrow::after,
  & :global .ant-menu-submenu-title:hover {
    color: var(--highlight-text) !important;
  }
  & :global .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected,
  & :global .ant-menu-item::after,
  & :global .ant-menu-item:active,
  & :global .ant-menu-submenu-title:active {
    background-color: var(--highlight-bg) !important;
  }
}