
@keyframes zoomout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes zoomin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes zoomout1 {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(0);
  }
}
@keyframes zoomin1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.mode {
  width: 30px;
  height: 30px;
  transform-origin: center center;
  transform: rotate(0deg);
  overflow: visible;
  cursor: pointer;
  margin-left: 20px;
  &:hover {
    & .circle {
      fill: #F6BB42;
    }
  }
  & .sunshines {
    transform-origin: center center;
    transform: rotate(0deg);
  }
  & .line {
    transform-origin: center center;
    transform: scale(0);
  }
  & .circle {
    transform: scale(1);
    transition: transform ease 0.8s;
    transform-origin: center center;
  }
  &.light {
    & .circle {
      transform: scale(0.6);
    }
    & .sunshines {
      animation: rotate 1s;
      transform: rotate(0deg);
      animation-fill-mode: forwards;
      animation-timing-function: ease;
      & .line {
        animation: zoomin1 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
        /* animation-delay: calc(var(--order) * 100ms); */
      }
    }
    & .mask {
      animation: zoomout 0.8s;
      transform-origin: top right;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      & > .background {
        fill: var(--normal-bg);
      }
    }
  }
  &.dark {
    animation: rotate2 1s;
    /* transform: rotate(0deg); */
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    & .sunshines {
      & .line {
        animation: zoomout1 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
      }
    }
    & .mask {
      animation: zoomin 0.5s;
      transform-origin: top right;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      & > .background {
        fill: var(--normal-bg);
      }
    }
  }
}