
.layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow-y: auto;
  left: 0;
  background-image: url('./bg.png');
  background-size: unset;
  background-repeat: no-repeat;
  background-color: var(--normal-bg);
  transition: var(--mode-transition);
}
.section {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
  background: var(--normal-bg);
  color: var(--normal-text);
  transition: var(--mode-transition);
}
.content {
  width: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 24px;
}